node_modules
.next
out
build
.git
.gitignore
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
Dockerfile
.dockerignore
prisma/dev.db
prisma/dev.db-journal
